[submodule "_projects/diy8Bit"]
	path = _projects/diy8Bit
	url = https://github.com/devramsean0/8bitProject.git
[submodule "docs"]
	path = docs
	url = https://github.com/devramsean0/docs.git
[submodule "_projects/traffic-light-project"]
	path = _projects/traffic-light-project
	url = https://github.com/devramsean0/traffic-light-project
