.newsletterForm-supercontainer {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 1rem;
}

.newsletterForm-container {
    display: flex;
}

.newsletterForm-input {
    padding: 10px;
    margin: 10px;
    width: 100%;
    border: 2px solid rgb(var(--gray-light));
    border-radius: 25px;
}
.newsletterForm-input:focus {
    outline: none;
    border: 2px solid var(--accent);
}
.newsletterForm-button {
    border-radius: 25px;
    border: none;
    color: white;
}

/* Dark mode */
.dark .newsletterForm-input {
    background-color: rgb(var(--black));
    border-color: rgb(var(--gray-dark));
    color: white;
}

.dark .newsletterForm-button {
    background-color: var(--black);
}