@import url('https://css.hackclub.com/theme.css');

/* Colour overrides */
:root {
	--text: var(--white);
}

/* Class overrides */
body {
	background-color: var(--darker);
	color: var(--green);
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-style: italic;
}
.card {
	text-align: center;
	background-color: var(--dark);
	color: var(--text);
}
.card .sunken {
	background-color: var(--darkless);
}
.badgeContainer {
	display: flex;
	gap: var(--spacing-2);
}
