.textFadeIn {
    animation: textFadeIn 4s ease 0s 1 normal forwards;
}

.textSlideIn {
    animation: textSlideIn 1s linear 0s 1 normal forwards;
}

@keyframes textFadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes textSlideIn {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}