@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: bold;
}
// A type links
a {
    font-size: 1.5rem;
    color: #000;
}
a:link { text-decoration: none; color: #000;}
a:visited { text-decoration: none; color: #000;}
a:hover { text-decoration: none; color: #000;}
a:active { text-decoration: none; color: #000;}

// Rounded Box
.roundedBox {
    border-radius: 25px;
    background: #000;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    color: white;
  }