.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 0.5fr 0.05fr repeat(2, 1fr) 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.name { grid-area: 1 / 1 / 2 / 2; }
.navBtn1 { grid-area: 1 / 2 / 2 / 3; }
.navBtn2 { grid-area: 1 / 3 / 2 / 4; }
.navBtn3 { grid-area: 1 / 4 / 2 / 5; }
.navBtn4 { grid-area: 1 / 5 / 2 / 6; }
.navBtn5 { grid-area: 1 / 6 / 2 / 7; }
.navBtn6 { grid-area: 1 / 7 / 2 / 8; }
.postDate { grid-area: 2 / 1 / 3 / 2; }
.postTitle { grid-area: 2 / 3 / 3 / 6; }
.content { grid-area: 3 / 2 / 5 / 7; }
.footer { grid-area: 5 / 3 / 6 / 6; }